#launch-pad {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    color: aliceblue;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: repeat(5, 1fr);
    top: -100%;
    transition: all 0.3s ease-in-out;
    text-align: center;
}

.App_Card {
    position: relative;
    left: 0%;
    top: 0%;
    display: none;
    font-size: 20px;


}

.App_Card img {
    display: block;
    width: 76px;
    margin-left: 35%;
    margin-top: 5%;
}