#finder-dropdown {
    overflow: hidden;
    display: none;
    position: relative;
    width: 140px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 10px;
    top: 22px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    z-index: 999999999999999999999999;
}

#finder-dropdown ul {
    list-style: none;
}

#finder-dropdown ul li {
    margin-top: 10px;
    text-align: left;
    padding: 5px;

}

#search_bar {
    position: absolute;
    margin-left: 83.4%;
    top: 0;
    width: 35px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search_form {
    position: absolute;
    /* margin:15% 34%; */
    font-size: 48px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: none;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

#search_form input {
    width: 450px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 42px;
    padding-left: 10px;

}

#search_form input:focus {
    outline: none;
}

#finder-dropdown ul :hover {
    background-color: rgb(57, 13, 255, 0.8);
    width: 130px;
    border-radius: 5px;
}

#finder-dropdown hr {
    width: 170px;
    justify-content: left;
    padding-left: 0px;
}

#finder-dropdown-btn {
    border: 0;
    position: absolute;
    height: 19px;
    width: 60px;
    top: 2px;
    left: 50px;
    border-radius: 1px;
    background-color: transparent;
    z-index: 999999999999999999999;


}

#ter_til {
    display: block;
    font-size: 14px;
    font-weight: 510;
    background-color: #696f7d;
    color: white;
    display: none;
    transition: all 0.5s ease-in-out;
    text-decoration-style: solid;
}

#controls-tab-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 21px;
    left: 1310px;
    border: none;
    cursor: pointer;

}

#control-tab {
    display: none;
    position: absolute;
    height: 400px;
    width: 440px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    left: 1000px;
    top: 3%;
    border-radius: 10px;
    font-size: 22px;
    padding-left: 15px;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;

}

#wifi {
    position: absolute;
    font-size: 15px;
    display: block;
    height: 125px;
    width: 150px;
    padding-left: 15px;
    border-radius: 15px;
    padding-top: 10px;
    background-color: #e7e1e16c;
}

#wifi:hover, #dnd:hover, #kbddis:hover, #airplay:hover {
    background-color: #e7e1e18c;
}

#control-tab #wifi img {
    width: 20px;
}

#dnd {
    position: absolute;
    width: 210px;
    height: 35px;
    left: 200px;
    background-color: #e7e1e16c;
    border-radius: 10px;
    padding-left: 12px;
}

#kbddis {
    position: absolute;
    left: 200px;
    margin-top: 45px;
    width: 110px;
    border-radius: 10px;
    background-color: #e7e1e16c;
    padding-left: 5px;
}

#airplay {
    position: absolute;
    left: 325px;
    margin-top: 45px;
    background-color: #e7e1e16c;
    border-radius: 10px;
    width: 100px;
    padding-left: 10px;

}