#finder-dropdown {
    display: none;
    position: relative;
    width: 140px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(255, 255, 255, 0.705); */
    margin-left: 10px;
    top: 22px;
    border: 0.01px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    z-index: 999999999999999999999999;
    overflow: hidden;
}

#finder-dropdown ul {
    list-style: none;
}

#finder-dropdown ul li {
    margin-top: 10px;
    text-align: left;
    padding: 5px;
    border-radius: 2px;
}

#search_bar {
    position: absolute;
    margin-left: 82%;
    top: 0;
    width: 35px;
    height: 21px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#search_form {
    position: absolute;
    /* margin:15% 34%; */
    font-size: 48px;
    text-align: center;
    color: rgb(255, 255, 255);
    display: none;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

#search_form input {
    width: 450px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease-in-out;
    font-size: 42px;
    padding-left: 10px;

}

#search_form input:focus {
    outline: none;
}

#finder-dropdown ul :hover {
    background-color: rgb(0, 89, 255);
    width: 130px;
    border-radius: 5px;
}

#finder-dropdown hr {
    width: 170px;
    justify-content: left;
    padding-left: 0px;
}

#finder-dropdown-btn {
    border: 0;
    position: absolute;
    height: 19px;
    width: 50px;
    top: 2px;
    left: 30px;
    border-radius: 1px;
    background-color: transparent;
    z-index: 999999999999999999999;
}

#ter_til {
    display: block;
    font-size: 14px;
    font-weight: 510;
    background-color: #696f7d;
    color: white;
    display: none;
    transition: all 0.5s ease-in-out;
    text-decoration-style: solid;
}

#controls-tab-btn {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 21px;
    left: 1320px;
    border: none;
    cursor: pointer;

}

#control-tab {
    display: none;
    position: absolute;
    height: 400px;
    width: 440px;
    background-color: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(100px);
    left: 1000px;
    top: 3%;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 15px;
    font-weight: 550;
    z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    text-align: center;
}

#wifi {
    position: absolute;
}


#control-tab ul {
    width: 170px;
    background-color: rgba(240, 248, 255, 0.26);
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    border-radius: 10px;
    margin-top: 10px;
}
#control-tab ul:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

#control-tab ul li {
    padding: 5px 10px;
    margin-top: 5px;
    width: 150px;
    text-align: left;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    align-items: center;
}
#control-tab ul li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#control-tab ul li span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 68, 255, 0.938);
    padding-left: 5px;
    padding-top: 4px;
    margin-right: 15px;
}

#dnd {
    position: absolute;
    width: 210px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    left: 220px;
    top: 10px;
    border-radius: 10px;
    text-align: center;
    margin-left: 0px;
    font-size: 22px;
    padding-top: 2px;
}
#dnd:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

#dnd span {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 15px;
    padding: 0 25px;
}
#dnd span img{
    background-color: rgb(255, 168, 168);
    border-radius: 50%;
    width: 35px;
    padding: 5px 5px;
    height: 35px;
}

.display {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    text-align: left;
    padding: 5px 10px;
    font-size: 20px;
    margin-top: 10px;
}
.display:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

.display input {
    width: 390px;
    height: 50px;
    accent-color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.219);
    height: 40px;
    width: 390px;
    border-radius: 20px;
}

input[type="range"]::selection {
    background-color: rgba(255, 255, 255, 0.219);
}

#control-tab ul li:nth-child(3) img {
    position: relative;
    width: 25px;
    height: 25px;
    object-fit: cover;
}

#control-tab ul li:nth-child(3) span {
    background-color: white;
}

.display span {
    display: inline;
    height: 10px;
}

#control-tab .kbd_dis {
    position: absolute;
    top: 120px;
    left: 220px;
    width: 110px;
    height: 80px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
#control-tab .kbd_dis:hover{  background-color: rgba(255, 255, 255, 0.4);}

#control-tab #kbd img {
    width: 25px;
    height: 25px;
}

#control-tab #airplay {
    position: absolute;
    width: 90px;
    margin-left: 120px;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.3s ease;

}

#control-tab #airplay:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

#control-tab #airplay img {
    width: 25px;
    height: 25px;
}

/* logo dropdown menu  */
#apple_menu{
    display: none;
    position: relative;
    width: 160px;
    height: 315px;
    background-color: rgba(255, 255, 255, 0.2);
    /* background-color: rgba(255, 255, 255, 0.705); */
    margin-left: 0px;
    top: 22px;
    border: 0.01px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    z-index: 999999999999999999999999;
    overflow: hidden;
}
#apple_menu ul {
    list-style: none;
}

#apple_menu ul li {
    margin-top: 10px;
    text-align: left;
    padding:4px 5px;
    border-radius: 2px;
}
#apple_menu ul  :hover {
    background-color: rgb(0, 89, 255);
    width: 155px;
    border-radius: 5px;
}
#file_menu{
    display: none;
    position: relative;
    width:175px;
    height:max-content;
    background-color: rgba(255, 255, 255, 0.2);
    margin-left: 82px;
    top: 22px;
    border: 0.01px solid white;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    z-index: 999999999999999999999999;
    overflow: hidden;
}
#file_menu ul {
    list-style: none;
}
#file_menu ul li {
    margin-top: 10px;
    text-align: left;
    border-radius: 2px;
    font-size: 12px;
    padding: 0 5px;
}
#file_menu ul  :hover {
    background-color: rgb(0, 89, 255);
    width:inherit;
    border-radius: 5px;
}