* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

#back {
  width: 110%;
  height: 105%;
}

#back img {
  height: 100vh;
  width: 100%;
  border-radius: 0px;
}

.main {
  position: absolute;
  width: 1520px;
  height: 740px;
  border-radius: 20px;
  border-color: black;
  border-width: 2px;
}

.main header img {
  width: 101.5%;
  position: absolute;
  top: 0px;
  border-radius: 0px 00px 0px 0px;
}

#container {
  position: absolute;
  width: 32.8%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.25);
  opacity: 1;
  margin-top: 675px;
  margin-left: 500px;
  bottom: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  bottom: -100%;
}

#container:hover {
  z-index: 999999999;
}

#container #finder img {
  position: absolute;
  height: 40px;
  border-radius: 10px;
  display: block;
  left: 5px;
  top: 4px;
  opacity: 1;
  display: flex;
  justify-content: center;
}

#container #launch img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 55px;
  opacity: 1;
}

#container #safari img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 105px;
  opacity: 1;
}

#container #msg img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 155px;
  opacity: 1;
}

#container #photos img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 208px;
  opacity: 1;
}

#container #cont img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 258px;
  opacity: 1;
}

#container #set img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 305px;
  opacity: 1;
}

#notes img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 355px;
  opacity: 1;
}

#tv img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 400px;
  opacity: 1;
}

#bar {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  left: 450px;
  color: transparent;
  display: flex-vertical;
  height: 40px;
  top: 5px;
  width: 2px;
  border-radius: 10px;
  font-size: 1px;
}

#trash img {
  position: absolute;
  height: 48px;
  border-radius: 10px;
  display: flex-vertical;
  justify-content: center;
  left: 455px;
  top: 1px;
  opacity: 1;
}
#container img{
  transition: all 0.25s ease-in-out;
}
#container img:hover {
  cursor: pointer;
  transform: scale(1.5);
}