#terminal {
    position: absolute;
    top: 12%;
    width: 780px;
    height: 450px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    left: 20%;
    border-radius: 8px;
    display: none;
    /* margin-left: 15px; */
    /* display: none; */
}

#terminal .sidepen {
    position: absolute;
    top: 0;
    width: 190px;
    height: inherit;
    background-color: rgba(43, 43, 43, 0.562);
    backdrop-filter: blur(10px);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;

}

#terminal .main-screen {
    position: relative;
    left: 24%;
    width: 600px;
    height: inherit;
    background-color: #242423;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

#terminal .sidepen .side-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
    padding-left: 10%;
}

#terminal .sidepen .close {
    background-color: #ff5e52;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

#terminal .sidepen .minimize {
    background-color: #ffbc2a;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 15px;
}

#terminal .sidepen .maximize {
    background-color: #24ca3f;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-left: 15px;

}

#terminal .sidepen .side-bar {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal .sidepen .side-bar ul {
    margin-top: 15px;
    font-size: 14px;
    font-weight: 500;
    color: #242423;
    list-style: none;
    margin-left: -1%;
}

#terminal .sidepen .side-bar ul li {
    font-size: 16px;
    margin-left: 0;
    list-style: none;
    color: white;
    margin-top: 15px;
    width: 150px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30px;
    transition: all 0.2s ease-in-out;
}

#terminal .sidepen .side-bar ul li:hover {
    font-size: 16px;
    margin-left: 0;
    list-style: none;
    color: white;
    background-color: #24242346;
    border-radius: 4px;
    width: 150px;
    height: 30px;
}

#terminal .main-screen .upper-bar {
    position: absolute;
    width: inherit;
    height: 40px;
    background-color: #262a2b;
    border-top-right-radius: inherit;
}