#widgets_bar {
    position: absolute;
    height: 88vh;
    width: 20vw;
    top: 3.5%;
    right: -100%;
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* backdrop-filter: blur(50px); */
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#widget-btn {
    position: absolute;
    height: 100vh;
    width: 1vw;
    background-color: black;
    right: 0;
    z-index: 1;
    background-color: transparent;
}

.stock_card {
    position: relative;
    top: 0;
    height: max-content;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.849);
    border-radius: 20px;
    color: aliceblue;
    font-size: 1.2vw;
    margin-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.stock_card .card_info {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2% 4%;
}

.stock_card .line {
    position: relative;
    margin: auto;
    width: 90%;
    background-color: rgba(80, 77, 77, 0.849);
    height: 1px;
}